.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
.Renviron
counts_long.parquet

local-data/
local-cache/
local-etl/
check/
*.fastq
*.csv.gz

src/*.o
src/*.so
src/*.dll
src/*.a
src/*.dSYM
src/*.gcda
src/*.gcno
